.menuArea-container {
  display: grid;
  grid-template-areas: 
    "top top top"
    "left center right"
    "left bottom right";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  gap: 50px;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  box-sizing: border-box;
  transition: grid-template-rows 0.3s ease;
}


.toggle-btn {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: rgb(128, 6, 6);
  width: 30px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.toggle-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

.top-toggle {
  top: 10px;
  right: 10px;
}