.toggle-btn {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: rgb(128, 6, 6);
  width: 30px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}


.left-toggle {
  top: 10px;
  right: 10px;
}